<%- include('includes/head.ejs') %>

<%- include('includes/navigation.ejs') %>

  <main>
    <h1>Wellcome new user</h1>
    
    <form action="/users" method="POST">
      <input type="text" name="name"/>
      <input type="submit" value="add user"/>
    </form>
    
  </main>

<%- include('includes/end.ejs') %>
